*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}





.card-body{
    text-align: center !important;
    font-size: 100%;
   
   
}
.my-Card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 250px;
    height: 60vh;
    
 
}
   .car-img{
    width: 250px;
    height: 200px;
   }